*.o
*.su
*.user
.directory
core
doxyfile.inc
*.log
doxygen/
/ffmpegfs.1
/ffmpegfs.1.hhc
/ffmpegfs.1.hhp
/ffmpegfs.1.htmlhelp/
/ffmpegfs.1.pdf
/ffmpegfs.1.text
/ffmpegfs.1.fo
/ffmpegfs.1.xml
Makefile
Makefile.in
.deps/
/aclocal.m4
/autom4te.cache
/config
/config.status
/configure
/src/.deps/
/lib/libbase64.a
/libtool
/src/config.h
/src/config.h.in
/src/ffmpegfs
/src/ffmpegfshelp.h
/src/stamp-h1
/src/vcd/.deps/
/src/vcd/.dirstamp
/test/*.trs
/test/.deps/
/test/fpcompare
*.autosave
*.in~
/.project
*.gcda
gh-pages/
mkdoxy
/bin
/obj
/*.layout
/cppcheck-cppcheck-build-dir/
/CMakeCache.txt
/CMakeFiles/
/*.cmake
/Testing/
/_CPack_Packages/
/install_manifest.txt
/CMakeDoxyfile.in
/ChangeLog
/.ninja_deps
/.ninja_log
/build.ninja
/valgrind-out.txt*
# Eclipse Project
/.cproject
/.settings
# All backup files
*~
/.qtc_clangd/
/CMakeCache.txt.prev
/build/

