# Eclipse Project
*.autosave
*.gcda
*.in~
*.log
*.o
*.su
*.user
.deps/
.directory
.dirstamp
/*.cmake
/*.layout
/.cproject
/.ninja_deps
/.ninja_log
/.project
/.settings
/_CPack_Packages/
/aclocal.m4
/autom4te.cache
/bin
/build.ninja
/ChangeLog
/CMakeCache.txt
/CMakeDoxyfile.in
/CMakeFiles/
/config
/config.status
/configure
/CopyOfCMakeCache.txt
/cppcheck-cppcheck-build-dir/
/ffmpegfs.1
/ffmpegfs.1.fo
/ffmpegfs.1.hhc
/ffmpegfs.1.hhp
/ffmpegfs.1.htmlhelp/
/ffmpegfs.1.pdf
/ffmpegfs.1.text
/ffmpegfs.1.xml
/install_manifest.txt
/lib/libbase64.a
/libtool
/obj
/src/.deps/
/src/config.h
/src/config.h.in
/src/ffmpegfs
/src/ffmpegfs.exe
/src/ffmpegfshelp.h
/src/stamp-h1
/src/vcd/.deps/
/src/vcd/.dirstamp
/test/*.trs
/test/.deps/
/test/fpcompare
/test/fpcompare.exe
/Testing/
/valgrind-out.txt*
core
doxyfile.inc
doxygen/
gh-pages/
Makefile
Makefile.in
mkdoxy

# All backup files
*~

