*.o
*.user
.directory
core
doxyfile.inc
doxygen.log
doxygen/
/ffmpegfs.1
/ffmpegfs.1.hhc
/ffmpegfs.1.hhp
/ffmpegfs.1.htmlhelp/
/ffmpegfs.1.pdf
/ffmpegfs.1.text
gh-pages/
Makefile
Makefile.in
.deps/
/aclocal.m4
/autom4te.cache
/config
/config.log
/config.status
/configure
/src/.deps/
/lib/libbase64.a
/libtool
/src/config.h
/src/config.h.in
/src/ffmpegfs
/src/ffmpegfshelp.h
/src/stamp-h1
/src/vcd/.deps/
/src/vcd/.dirstamp
/test/*.log
/test/*.trs
/test/.deps/
/test/fpcompare
