name: C/C++ CI (GNU make)

on:
  push:
    branches: [ master ]
    paths-ignore:
        - '**.md'
        - '*COPYING'
        - '*COPYING.CC0'
        - '*COPYING.DOC'
        - '*ffmpegfs.cbp'
        - '*ffmpegfs.depend'
        - '*ffmpegfs.pro'
        - '*NEWS'
        - '*TODO'
  pull_request:
    branches: [ master ]
    paths-ignore:
        - '**.md'
        - '*COPYING'
        - '*COPYING.CC0'
        - '*COPYING.DOC'
        - '*ffmpegfs.cbp'
        - '*ffmpegfs.depend'
        - '*ffmpegfs.pro'
        - '*NEWS'
        - '*TODO'
jobs:
  build-make:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -yq cppcheck asciidoc-base w3m libchromaprint-dev doxygen graphviz
        sudo apt-get install -yq libcue-dev libfuse-dev libsqlite3-dev libavcodec-dev libavformat-dev libswresample-dev libavutil-dev libswscale-dev libavfilter-dev libchardet-dev
        sudo apt-get install -yq libdvdread-dev libdvdnav-dev libbluray-dev
    - name: autogen.sh
      run: ./autogen.sh
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make cppcheck
      run: make cppcheck
    - name: Archive Build Logs
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Collected build logs
        path: |
           *.log
           config.status
           doxyfile.inc
    - name: Archive Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Collected test results
        path: |
           test/*.log
           test/*.trs
           test/*.tag

  build-cmake:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -yq cppcheck asciidoc-base w3m libchromaprint-dev doxygen graphviz
        sudo apt-get install -yq libcue-dev libfuse-dev libsqlite3-dev libavcodec-dev libavformat-dev libswresample-dev libavutil-dev libswscale-dev libavfilter-dev libchardet-dev
        sudo apt-get install -yq libdvdread-dev libdvdnav-dev libbluray-dev
    - name: cmake config
      run: cmake config .
    - name: cmake build
      run: cmake --build .
    - name: cmake check
      run: cmake --build . --target check
#    - name: cmake cppcheck
#      run: cmake --build . --target cppcheck
    - name: Archive Build Logs
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Collected build logs
        path: |
           *.log
           config.status
           doxyfile.inc
    - name: Archive Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Collected test results
        path: |
           test/*.log
           test/*.trs
           test/*.tag

